body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  width: 55%;
  margin: auto;
}

div.score-img,
div.main-text {
  width: 45%;
  margin: auto;
}

h1 {
  text-shadow: .5px .5px 1px rgb(48, 48, 48), -.5px -.5px 1px rgb(50, 50, 50);
}

h1 {
  margin-top: 8%;
  font-size: 64px;
}

p {
  font-size: 24px;
}

.players,
.score,
.image-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.players,
.score {
  margin: 5% auto;
  justify-content: space-evenly;
  font-size: 22px;
}

.choose-weapon {
  font-size: 24px;
}

.images {
  width: 6%;
  padding: 20px;
  margin: auto 3%;
  border: 1px solid white;
  border-radius: 15%;
}

.images:hover {
  box-shadow: 1px 1px 10px white, -1px -1px 10px white;
  transform: scale(1.05);
}